@page "/operaciones/prendas/alta"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Alta Prenda</PageTitle>

@if(marcas == null || tiposDePrenda == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="formContainer">
        <div>
            <h3 class="formTitle">Nueva Prenda</h3>

            <EditForm  method="post" FormName="formAltaPrenda" Model="Prenda" OnValidSubmit="NuevaPrendaSubmit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <label for="descripcion">Descripcion: </label>
                    <InputText id="descripcion" @bind-Value="Prenda.Descripcion" class="form-control"></InputText>
                </div>
                <div class="mb-3">
                    <label for="precio">Precio: </label>
                    <InputNumber id="precio" @bind-Value="@Precio" class="form-control"></InputNumber>
                </div>
                <div class="mb-3">
                    <label for="stock">Stock Inicial: </label>
                    <InputNumber id="stock" @bind-Value="Prenda.Stock" class="form-control" disabled></InputNumber>
                </div>
                <div class="mb-3">
                    <label for="puntoPedido">Punto de Pedido: </label>
                    <InputNumber id="puntoPedido" @bind-Value="Prenda.PuntoPedido" class="form-control"></InputNumber>
                </div>
                <div class="mb-3">
                    <label for="talla">Talla: </label>
                    <select id="talla" @bind="Prenda.Talla" class="form-select">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="tipoPrenda">Tipo de Prenda: </label>
                    <select id="tipoPrenda" @bind="Prenda.IdTipoPrenda" class="form-select">
                        @foreach(TipoPrenda tipoPrenda in tiposDePrenda)
                        {
                            <option value="@tipoPrenda.IdTipoPrenda">@tipoPrenda.DescripcionTipoPrenda</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="marca">Marca: </label>
                    <select id="marca" @bind="Prenda.IdMarca" class="form-select">
                        @foreach (Marca marca in marcas)
                        {
                            <option value="@marca.IdMarca">@marca.DescripcionMarca</option>
                        }
                    </select>
                </div>

                <button class="formButton" type="submit">Agregar</button>
            </EditForm>

            <button class="formButton" @onclick="GoBack" style="margin-top: 1rem;">Salir</button>
        </div>
    </div>

    <p style="margin-top: 1rem;"><em>@resultado</em></p>
}



@code {
    [SupplyParameterFromForm(FormName = "formAltaPrenda")]
    public Prenda Prenda { get; set; } = new();

    public float Precio { get; set; } = 0;

    public string resultado = "";

    private IEnumerable<TipoPrenda>? tiposDePrenda;

    private IEnumerable<Marca>? marcas;

    protected override async Task OnInitializedAsync()
    {
        if (UsuarioNegocio.Usuario == null)
        {
            NavigationManager.NavigateTo("/NotLoggedInError");
        }
        tiposDePrenda = await TipoPrendaNegocio.GetAll();
        marcas = await MarcaNegocio.GetAll();
        Prenda.Talla = "S";
    }

    private async Task NuevaPrendaSubmit()
    {
        resultado = "Cargando...";
        if(await PrendaNegocio.Add(Prenda))
        {
            Prenda newPrenda = await PrendaNegocio.GetOneByDescAndTalla(Prenda.Descripcion, Prenda.Talla);
            PrecioPrenda precioPrenda = new PrecioPrenda();
            precioPrenda.IdPrenda = newPrenda.IdPrenda;
            precioPrenda.Valor = Precio;
            if(await PrecioPrendaNegocio.Add(precioPrenda))
            {
                resultado = "Prenda agregada exitosamente";
                NavigationManager.NavigateTo("/operaciones/prendas");
            }
            else
            {
                var error = Errors.Errores.FirstOrDefault();
                resultado = error;
                Errors.Errores.Clear();
            }
        }
        else
        {
            var error = Errors.Errores.FirstOrDefault();
            resultado = error;
            Errors.Errores.Clear();
        }
    }

    private void GoBack(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/operaciones/prendas");
    }
}

